:root {
  --bold: 700;
  --fs-med: 1.275rem;
  --darkblue: #00023f;
}

* {
  color: var(--darkblue);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

figure.logo {
  width: 10%;
}

.logo img {
  width: 100%;
}

.bold {
  font-weight: var(--bold);
}

.logo-text,
span {
  font-size: var(--fs-med);
}

.logo-text {
  margin: 0 auto 0 1rem;
}
